<% include partials/header %>

    <main class = "container">
        <section class = "row">
            <header class = "jumbotron">
                <h1> Thư viện ảnh EDW </h1>
                <h2>Feel free to upload những bức ảnh của bạn về dự án EDW và chia sẻ những câu chuyện, 
                những kỷ niệm của bạn ở dự án</h2>
            </header>      
        </section>
        
        <section class = "row flex">
            <% camp.forEach(function(item){ %>
                <figure class = "col-xs-6 col-md-4 col-lg-3 thumbnail hvr-bob" >
                    <a href = "/camp/<%= item._id %>">
                        <img src = "<%= item.thumbnailImage %>">
                        <figcaption class = "caption">
                            <div class = "text">
                                <h2><%= item.name %></h2>
                                <p><em>Created by <%= item.author.username %></em></p>
                            </div>
                        </figcaption>
                    </a>
                </figure>
            <% }) %>
            <div class = "col-xs-6 col-md-4 col-lg-3">
                <a href="/camp/new">
                    <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
                </a>
            </div>
        </section>
    </main>
    
<% include partials/footer %>